<!DOCTYPE html>
      <html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="https://www.thymeleaf.org"
            th:replace="base/fragments/index :: index(~{::section})">
      <head></head>
      <body>
      <span th:text="${session.rodape != null ? session.rodape.textCopyright : 'Texto padrão'}"></span>
      <link th:href="${theme != null ? theme : 'core2.css'}" rel="stylesheet">
      <link th:href="${themeBord != null ? themeBord : 'theme-default.css'}" rel="stylesheet">
      <div class="container_block">
        <div class="block_center">
            <section>
                <form th:action="@{/v1/sorteio/sortear}" th:object="${sorteioForm}" method="post" class="block_shodow">
                    <h3 class="text-center text_topo">Realizar sorteio</h3>
                    <div class="mb-3">
                        <label for="sorteio" class="form-label">Título do Sorteio</label>
                        <input type="text" class="form-control" id="sorteio" name="sorteio" th:field="*{sorteio}" placeholder="Digite o título do sorteio" required>
                    </div>
                    <div class="mb-3">
                        <label for="quantidadeSorteio" class="form-label">Quantidade de Sorteados</label>
                        <input type="number" class="form-control" id="quantidadeSorteio" name="quantidadeSorteio" th:field="*{quantidadeSorteio}" placeholder="Digite a quantidade" required>
                    </div>
                    <div class="mb-3">
                        <label for="participantes" class="form-label">Lista de Participantes</label>
                        <textarea class="form-control" id="participantes" name="participantes" rows="5" th:field="*{participantes}" placeholder="Exemplo: Fulano, 12345678900"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Realizar Sorteio</button>
                    </div>
                </form>
            </section>
        </div>
      </div>
      </body>
      <th:block th:replace="base/fragments/head :: head-js-base-envio"/>
      </html>